@use 'assets/styles/variables';

.input {
  padding: 5px 8px;
  border: 1px solid variables.$darkGrey;
  box-sizing: border-box;
  box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.09);
  border-radius: 25px;

  &:focus {
    outline: none;
    box-shadow: -2px 4px 10px rgba(115, 124, 142, 0.03);
  }
}
