@use 'assets/styles/variables';

.Wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.titleWrapper {
  display: flex;
  align-items: center;

  nav a {
    margin-left: 15px;
    display: inline-block;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: variables.$darkGrey;
    font-weight: bold;
  }
  nav a:hover {
    background-color: variables.$lightGrey;
  }
}
